
     body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(245, 247, 141);
        color: rgb(29, 29, 28);
     }
     h1 {
        color: rgb(24, 9, 235);
        background-color: rgb(223, 104, 104);
     }
     h2 {
        color: blueviolet;
     }
     p {
        color: rgb(209, 0, 192);
        text-align: justify;
     }
     a {
        color: rgb(0, 0, 0);
     }